:host {
  display: block;
  margin-top: 1rem;
}

<<<<<<< HEAD
mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner{
  margin: auto;
}

.post-image{
  width: 100%;
}

.post-image img{
  width: 100%;
  box-shadow: 1px 1px 5px;
}
=======
.info-text {
  text-align: center;
}
>>>>>>> 0201c3bba35ff2d852823546ff75c11c677fa012
