mat-form-field
textarea {
  width: 100%;
}
<<<<<<< HEAD

mat-spinner{
  margin: auto;
}

input[type="file"]{
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
=======
>>>>>>> 0201c3bba35ff2d852823546ff75c11c677fa012
